@if (loading) {
  <div>Loading posts...</div>
} @else {
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      @for (post of paginatedPosts; track post.id) {
        <tr>
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
        </tr>
      }
    </tbody>
  </table>
}

@if (totalPages > 1) {
  <div>
    @for (_ of [].constructor(totalPages); track $index) {
      <button (click)="setPage($index + 1)"
              [disabled]="currentPage === $index + 1">
        {{ $index + 1 }}
      </button>
    }
  </div>
}
